/* =============== Section =============== */
.career-CSS {
  text-align: center;
  margin: 350px;
}

.career-outer-card-CSS {
  background-color: #212529;
  color: #FFFFFF;
  padding: 50px 0px;
}

.career-h1-CSS {
  margin: 0px;
}

.career-tab-CSS .nav-link {
  background-color: transparent !important;
  color: #FFFFFF !important;
  border-top: none;
  border-left: none;
  border-right: none;
}

.career-tab-CSS .nav-link.active {
  font-weight: bold;
  border-bottom: solid 5px #FFFFFF;
}

.career-inner-card-CSS {
  background-color: #2C3036;
  color: #FFFFFF;
  margin: 25px 50px 0px;
}

.career-intro-CSS {
  font-size: 20px;
  text-align: left;
  width: 75%;
  margin: 0px auto;
}

.career-p-CSS {
  font-size: 15px;
  text-align: left;
  width: 75%;
  margin: 0px auto;
}



/* =============== Media Queries =============== */

/* =============== Mobile View =============== */
@media only screen and (250px <= width <= 425px) {
  /* Section */
  .career-CSS {
    text-align: center;
    margin: 350px 0px;
  }

  .career-outer-card-CSS {
    background-color: #212529;
    color: #FFFFFF;
    padding: 25px 0px;
  }

  .career-inner-card-CSS {
    background-color: #2C3036;
    color: #FFFFFF;
    margin: 25px 5px 0px;
  }
}



@media only screen and (426px <= width <= 767px) {
  /* Section */
  .career-CSS {
    text-align: center;
    margin: 350px 25px;
  }

  .career-outer-card-CSS {
    background-color: #212529;
    color: #FFFFFF;
    padding: 25px 0px;
  }

  .career-inner-card-CSS {
    background-color: #2C3036;
    color: #FFFFFF;
    margin: 25px 5px 0px;
  }
}



/* =============== Tablet View =============== */
@media only screen and (768px <= width <= 1023px) {
  /* Section */
  .career-CSS {
    text-align: center;
    margin: 350px 50px;
  }

  .career-outer-card-CSS {
    background-color: #212529;
    color: #FFFFFF;
    padding: 25px 0px;
  }

  .career-inner-card-CSS {
    background-color: #2C3036;
    color: #FFFFFF;
    margin: 25px 25px 0px;
  }
}



@media only screen and (1024px <= width <= 1120px) {
  /* Section */
  .career-CSS {
    text-align: center;
    margin: 350px 125px;
  }

  .career-outer-card-CSS {
    background-color: #212529;
    color: #FFFFFF;
    padding: 25px 0px;
  }

  .career-inner-card-CSS {
    background-color: #2C3036;
    color: #FFFFFF;
    margin: 25px 25px 0px;
  }
}



@media only screen and (1121px <= width <= 1910px) {
  /* Section */
  .career-CSS {
    text-align: center;
    margin: 275px;
  }
}
