.footer-container-CSS {
  width: 100%;
  background-color: #292929;
}

.footer-container-CSS.newYear {
  background-color: #800020;
}

.footer-container-CSS.summer {
  background-color: #0F2E56;
}

.footer-container-CSS.halloween {
  background-color: #B94700;
}

.footer-container-CSS.christmas {
  background-color: #27592D;
}

.footer-p-CSS {
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

.footer-black-CSS {
  color: #000000;
}

.footer-white-CSS {
  color: #FFFFFF;
}
